<%= render "shared/header" %>
<h1>HELLO TRAINING</h1>
<div class="contents row">
  <% @training_menus.each do |menu| %>
    <div class="">
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', training_menu_path(menu.id), method: :get %>
          </li>
        </ul>
      </div>
      <h2><%= menu.name%></h2>
      <p><%= menu.muscle_category.name%></p>
      <p><%= menu.explanation %></p>
      </span>
    </div>
  <% end %>
</div>
<%= render "shared/footer" %>