<%= render "shared/second_header" %>
<%= form_with(url: search_training_menus_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "トレーニングメニューを検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @training_menus.each do |menu| %>
    <div class="">
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', training_menu_path(menu.id), method: :get %>
          </li>
        </ul>
      </div>
      <h2><%= menu.name%></h2>
      <p><%= menu.muscle_category.name%></p>
      <p><%= menu.explanation %></p>
      </span>
    </div>
  <% end %>
  <%=link_to 'トップページへもどる',  root_path, class:"back-btn" %>
</div>
<%= render "shared/footer" %>
