<%= render "shared/second_header" %>
<div class="contents row">
  <div class="content_post">
    <div class="more">
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_training_menu_path(@training_menu.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', training_menu_path(@training_menu.id), method: :delete, data: {confirm: "削除しますか？"} %>
        </li>
     </ul>
    </div>
    <h2><%= @training_menu.name %></h2>
    <p><%= @training_menu.explanation %></p>
    <span class="name"><%= @training_menu.muscle_category.name %>
    </span>
  </div>
  <div class="contents row">
    <% unless  @max_weight == nil %>
        <h1><%= "最高重量は#{@max_weight.weight}kg、その時の回数は#{@max_weight.reps}回" %></h1>
    <% end %>
    <% unless  @max_weight == nil %>
      <h1><%= "最高回数は#{@max_reps.reps}回、その時の重量は#{@max_reps.weight}kg" %></h1>
    <% end %>
    <% @menu_records.each do |record| %>
      <div class="">
        <div class="more">
          <ul class="more_list">
            <li>
              <%= link_to 'トレーニング記録詳細へ', training_menu_menu_record_path(@training_menu.id, record.id), method: :get %>
            </li>
          </ul>
        </div>
        <h2><%= record.date%></h2>
        <% unless record.weight == nil %>
          <h2><%= record.weight %>kg（両手）</h2>
        <% end %>
        <% unless record.reps == nil %>
          <h2><%= record.reps %>回 ※.の後に続く回数はチーティングの回数</h2>
        <% end %>
        </span>
      </div>
    <% end %>
  </div>
  
</div>
<%= link_to( new_training_menu_menu_record_path(@training_menu.id), class: 'purchase-btn') do %>
  <span class='purchase-btn-text'> <%= @training_menu.name %>の記録へ </span>
  <%= image_tag 'icon_dumbbell.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>