<%= render "shared/second_header" %>
<div class="contents row">
  <div class="content_post">
    <div class="more">
      <ul class="more_list">
        <li>
          <%= link_to 'メニューを編集', edit_training_menu_path(@training_menu.id), method: :get %>
        </li>
        <li>
          <%= link_to 'メニューを削除', training_menu_path(@training_menu.id), method: :delete, data: {confirm: "削除しますか？"} %>
        </li>
     </ul>
    </div>
    <% if @training_menu.images.attached? %>
      <div class="menu_img">
        <div class="menu_block">参考画像</div>
        <%= image_tag @training_menu.images[0], class: 'menu-image'%> 
        <div class="other-images">
          <% @training_menu.images[1..-1].each do |image| %>
            <div class="other-image">
              <%= image_tag image %>
            </div>
          <%end%>
        </div>
      </div>
    <% end %>
    <div class="menu_name">
    <div class="menu_block">メニュー名</div>
    <h2><%= @training_menu.name %></h2>
    </div>
    <div class="menu_explanation">
    <div class="menu_block">解説等</div>
    <p><%= @training_menu.explanation %></p>
    </div>
    <span class="name"><%= @training_menu.muscle_category.name %>
    </span>
  </div>
  <div class="contents">
    
    <% unless  @max_weight == nil %>
        <h1 class="max-record"><%= "最高重量は#{@max_weight.weight}kg、その時の回数は#{@max_weight.reps}回" %></h1>
    <% end %>
    <% unless  @max_weight == nil %>
      <h1 class="max-record"><%= "最高回数は#{@max_reps.reps}回、その時の重量は#{@max_reps.weight}kg" %></h1>
    <% end %>
    
    <div class="contents row">
      <% @menu_records.each do |record| %>
        <div class="content">
          <div class="content_item">
            実施日
          </div>
          <div class="content_detail">
            <%= record.date%>
          </div>
          <% unless record.weight == nil %>
            <div class="content_item">
              重量
            </div>
            <div class="content_detail">
              <%= record.weight %>kg（両手）
            </div>
          <% end %>
          <% unless record.reps == nil %>
            <div class="content_item">
              回数
            </div>
            <div class="content_detail">
              <%= record.reps %>回 ※.の後に続く回数はチーティングの回数
            </div>
          <% end %>
          <div class="more">
            <ul class="more_list">
              <li>
                <%= link_to 'トレーニング記録詳細へ', training_menu_menu_record_path(@training_menu.id, record.id), method: :get %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
</div>
<%= link_to( new_training_menu_menu_record_path(@training_menu.id), class: 'purchase-btn') do %>
  <span class='purchase-btn-text'> <%= @training_menu.name %>の記録へ </span>
  <%= image_tag 'icon_dumbbell.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>